<div class="nav">
  <div class="inner">
    <header class="h-left">
      <a href="<%= root_path %>">
        <div class="logo">
          <%= image_tag 'logo3.png' %>
        </div>
      </a>
    </header>
    <header class="h-right">
      <a href="<%= search_path %>" class="h-item">
        <%= ion_icon 'search', class: 'nicon' %>
        <!-- <div class="nav-icon ic-search-black" style="margin: 15px 6px 15px 0;height: 21px;width: 21px;"></div> -->
      </a>

      <div class="h-item">
        <a href="/new-discussion" class="button">Write</a>
      </div>
      <div class="h-item">
        <span class="v-nav-link">
        <a href="<%= login_url next: request.original_url, host: request.domain %>">Login</a>
        </span>
        <span>/</span>
        <span class="v-nav-link">
        <a href="<%= register_url next: request.original_url, host: request.domain %>" class="v-nav-link">Register</a>
        </span>
      </div>
    </header>
  </div>
</div>
