	<div class="nav desktop">
		<div class="inner">
			<header class="h-left">
				<a href="<%= root_path %>">
					<div class="logo">
						<%= image_tag 'logo3.png' %>
					</div>
				</a>
				<nav class="left">
					<!-- <a href="<%= root_path %>" class="h-item">
						<div class="nav-icon home"></div>
						<div class="nav-text">Home</div>
					</a> -->
					<a href="<%= discover_cultures_path %>" class="h-item">
						<!-- <div class="nav-icon cul"></div> -->
						<div class="nav-text">Explore Blogs</div>
					</a>
				</nav>
			</header>
			<header class="h-right">
				<a href="/new-discussion" class="h-item" style="font-weight: bold;">
					Share Your Story
				</a>
				<div class="h-item">
					<a href="<%= login_path next: request.original_url %>" class="button">Login</a>
					<span>|</span>
					<a href="<%= register_path next: request.original_url %>" class="button">Register</a>
				</div>
			</header>
			<header class="h-mid">
				<div class="search-box">
					<form method="get" action="/search">
						<input name="q" placeholder="Search TheCommunity" value="<%= params[:q] %>">
						<button type="submit" class="tc-ir icon ic-search">Search</button>
					</form>
				</div>
      			<div id='search-suggest' class='elevate' />
			</header>
		</div>
	</div>
