<div class="nav mobile">
  <header class="h-left">
    <a href="<%= root_path %>">
      <div class="logo">
        <%= image_tag 'logo3.png' %>
      </div>
    </a>
  </header>
  <header class="h-right">
  <a href="/new-discussion" class="h-item">Write</a>
    <a href="<%= discover_cultures_path %>" class="h-item">
      <%= ion_icon 'ios-people', class: 'nicon' %>
      <!-- <div class="nav-icon cul"></div> -->
    </a>
    <a href="<%= search_path %>" class="h-item">
      <%= ion_icon 'search', class: 'nicon' %>
      <!-- <div class="nav-icon ic-search-black" style="margin: 15px 6px 15px 0;height: 21px;width: 21px;"></div> -->
    </a>
    <div class="h-item">
      <a href="<%= login_path next: request.original_url %>" class="button">Sign In</a>
    </div>
  </header>
</div>
