<div class="nav mobile">
  <header class="h-left">

    <a href="<%= root_path %>">
      <div class="logo">
        <%= image_tag 'logo3.png' %>
      </div>
    </a>
  </header>
  <header class="h-right">
    <!-- <a href="<%= root_path %>" class="h-item">
      <div class="nav-icon home"></div>
    </a> -->
    <a href="<%= discover_cultures_path %>" class="h-item">
      <!-- <div class="nav-icon cul"></div> -->
      <%= ion_icon 'ios-people', class: 'nicon' %>
    </a>
    <a href="<%= notifications_path %>" class="h-item">
      <%= ion_icon 'ios-bell', class: 'nicon' %>
      <!-- <div class="nav-icon note"></div> -->
    </a>
    <a href="<%= search_path %>" class="h-item">
      <%= ion_icon 'search', class: 'nicon' %>
      <!-- <div class="nav-icon ic-search-black" style="margin: 15px 6px 15px 0;height: 21px;width: 21px;"></div> -->
    </a>

      <div class="h-item">
        <a href="/new-discussion" class="button">Write</a>
      </div>
    <div class="left">
      <%= render 'user_nav_menu' %>
    </div>
  </header>
</div>
